*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 2rem; }

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-family: cursive;
    font-size: 4rem;
    letter-spacing: 1.5rem;
    margin: 0 auto;
    font-weight: 900; }
    @media screen and (max-width: 800px) {
      .heading-primary--main {
        letter-spacing: 0rem;
        font-size: 3rem; } }
  .heading-primary--sub {
    font-family: cursive;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #fce90d;
    animation: spin 0.5s 1; }

.heading-secondary {
  font-family: cursive;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }

.heading-tertiary {
  font-family: cursive;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.8rem;
  animation: moveInBottom 0.5s 1; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes spin {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: rotateX(360deg); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.footer section ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fce90d;
  font-size: 2rem;
  text-transform: uppercase; }
  .footer section ul li {
    margin: 0 2rem;
    display: flex;
    font-weight: 700; }
    .footer section ul li img {
      width: 30px;
      height: 30px; }

@media screen and (max-width: 400px) {
  .footer section ul {
    flex-direction: column; }
    .footer section ul li {
      justify-content: center;
      margin: 2rem auto; } }

body {
  background-image: linear-gradient(to bottom, #78c2fe, #379af2, #0071e1, #0046c9, #0108a9);
  min-height: 100vh; }
  body .main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem; }
    body .main h1 {
      animation: moveInLeft 1s 1; }
    @media screen and (max-width: 800px) {
      body .main {
        width: 100%;
        padding: 0; } }
    body .main__list {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-height: 100vh;
      overflow-y: auto;
      box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.26);
      padding: 2rem; }
    body .main__item {
      display: flex;
      box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.56);
      transition: all 0.3s linear; }
      body .main__item:nth-child(1) {
        animation: moveInRight 0.4s 1; }
        body .main__item:nth-child(1) a {
          background-color: #43a87e; }
      body .main__item:nth-child(2) {
        animation: moveInRight 0.7s 1; }
        body .main__item:nth-child(2) a {
          background-color: #632fbc; }
      body .main__item:nth-child(3) {
        animation: moveInRight 0.4s 1; }
        body .main__item:nth-child(3) a {
          background-color: #5c50c7; }
      body .main__item:nth-child(4) {
        animation: moveInRight 0.7s 1; }
        body .main__item:nth-child(4) a {
          background-color: #c18c2d; }
      body .main__item:nth-child(5) {
        animation: moveInRight 0.9s 1; }
        body .main__item:nth-child(5) a {
          background-color: #e10192; }
      body .main__item:hover {
        box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.76);
        transform: translateY(5px) scale(1.1);
        background-color: #046bfc; }
    body .main__link:link, body .main__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      padding: 1rem;
      font-size: 2.5rem;
      background-color: rgba(252, 233, 13, 0.8);
      font-weight: 400;
      transition: all 0.3s ease-in-out; }
      body .main__link:link:hover, body .main__link:visited:hover {
        background-color: transparent;
        color: rgba(252, 233, 13, 0.8);
        letter-spacing: 0.1rem;
        font-weight: 900;
        border: 1px solid #000; }
  body pre {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 2rem auto;
    overflow: auto;
    animation: moveInRight 0.5s 1; }
    @media screen and (max-width: 600px) {
      body pre {
        font-size: 10px; } }

.qoute_containter {
  background-color: rgba(51, 51, 51, 0.2);
  padding: 2rem;
  min-height: 230px;
  overflow-y: auto; }
  .qoute_containter h2 {
    color: #fce90d; }
  .qoute_containter p {
    color: #04fc04;
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 1px 1px #333, 3px 3px 5px #04fc04;
    animation: moveInBottom 0.5s 1; }

.challenge-6 {
  display: flex;
  position: relative; }
  .challenge-6 .player-0-panel,
  .challenge-6 .player-1-panel {
    flex: 50%;
    background-color: rgba(120, 194, 254, 0.2); }
  .challenge-6 .active {
    background-color: rgba(120, 194, 254, 0.6); }
    .challenge-6 .active .player-name::after {
      content: "\2022";
      font-size: 47px;
      position: absolute;
      color: #eb4d4d;
      top: -7px; }
  .challenge-6 button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s; }
  .challenge-6 .player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative; }
  .challenge-6 .player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #eb4d4d;
    margin-bottom: 130px; }
  .challenge-6 .btn-new {
    top: 85px; }
  .challenge-6 .btn-roll {
    top: 380px; }
  .challenge-6 .btn-hold {
    top: 420px; }
  .challenge-6 .dice {
    position: absolute;
    left: 50%;
    top: 208px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1); }
  .challenge-6 .player-current-box {
    background-color: #eb4d4d;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center; }
  .challenge-6 .player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222; }
