*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 2rem; }

body {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-family: cursive;
    font-size: 4rem;
    letter-spacing: 1.5rem;
    margin: 0 auto;
    font-weight: 900; }
    @media screen and (max-width: 800px) {
      .heading-primary--main {
        letter-spacing: 0rem;
        font-size: 3rem; } }
  .heading-primary--sub {
    font-family: cursive;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #fce90d;
    animation: spin 0.5s 1; }

.heading-secondary {
  font-family: cursive;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }

.heading-tertiary {
  font-family: cursive;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.8rem;
  animation: moveInBottom 0.5s 1; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes spin {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: rotateX(360deg); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.footer section ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fce90d;
  font-size: 2rem;
  text-transform: uppercase; }
  .footer section ul li {
    margin: 0 2rem;
    display: flex;
    font-weight: 700; }
    .footer section ul li img {
      width: 30px;
      height: 30px; }

@media screen and (max-width: 400px) {
  .footer section ul {
    flex-direction: column; }
    .footer section ul li {
      justify-content: center;
      margin: 2rem auto; } }

body {
  background-image: linear-gradient(to bottom, #78c2fe, #379af2, #0071e1, #0046c9, #0108a9);
  min-height: 100vh; }
  body .main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem; }
    body .main h1 {
      animation: moveInLeft 1s 1; }
    @media screen and (max-width: 800px) {
      body .main {
        width: 100%;
        padding: 0; } }
    body .main__list {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-height: 100vh;
      overflow-y: auto;
      box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.26);
      padding: 2rem; }
    body .main__item {
      display: flex;
      box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.56);
      transition: all 0.3s linear; }
      body .main__item:nth-child(1) {
        animation: moveInRight 0.7s 1; }
        body .main__item:nth-child(1) a {
          background-color: #d2ce7e; }
      body .main__item:nth-child(2) {
        animation: moveInRight 0.7s 1; }
        body .main__item:nth-child(2) a {
          background-color: #5787f7; }
      body .main__item:nth-child(3) {
        animation: moveInRight 0.3s 1; }
        body .main__item:nth-child(3) a {
          background-color: #490b99; }
      body .main__item:nth-child(4) {
        animation: moveInRight 0.6s 1; }
        body .main__item:nth-child(4) a {
          background-color: #eccc45; }
      body .main__item:nth-child(5) {
        animation: moveInRight 0.1s 1; }
        body .main__item:nth-child(5) a {
          background-color: #39a53f; }
      body .main__item:nth-child(6) {
        animation: moveInRight 0.5s 1; }
        body .main__item:nth-child(6) a {
          background-color: #d9c631; }
      body .main__item:nth-child(7) {
        animation: moveInRight 0.7s 1; }
        body .main__item:nth-child(7) a {
          background-color: #8b2d0e; }
      body .main__item:nth-child(8) {
        animation: moveInRight 0.9s 1; }
        body .main__item:nth-child(8) a {
          background-color: #3e3883; }
      body .main__item:nth-child(9) {
        animation: moveInRight 0.6s 1; }
        body .main__item:nth-child(9) a {
          background-color: #5ce8eb; }
      body .main__item:nth-child(10) {
        animation: moveInRight 0.7s 1; }
        body .main__item:nth-child(10) a {
          background-color: #f4c8d2; }
      body .main__item:hover {
        box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.76);
        transform: translateY(5px) scale(1.1);
        background-color: #046bfc; }
    body .main__link:link, body .main__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      padding: 1rem;
      font-size: 2.5rem;
      background-color: rgba(252, 233, 13, 0.8);
      font-weight: 400;
      transition: all 0.3s ease-in-out; }
      body .main__link:link:hover, body .main__link:visited:hover {
        background-color: transparent;
        color: rgba(252, 233, 13, 0.8);
        letter-spacing: 0.1rem;
        font-weight: 900;
        border: 1px solid #000; }
  body pre {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 2rem auto;
    overflow: auto;
    animation: moveInRight 0.5s 1; }
    @media screen and (max-width: 600px) {
      body pre {
        font-size: 10px; } }

.qoute_containter {
  background-color: rgba(51, 51, 51, 0.2);
  padding: 2rem;
  min-height: 230px;
  overflow-y: auto; }
  .qoute_containter h2 {
    color: #fce90d; }
  .qoute_containter p {
    color: #04fc04;
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 1px 1px #333, 3px 3px 5px #04fc04;
    animation: moveInBottom 0.5s 1; }

.challenge-6 {
  display: flex;
  position: relative;
  -webkit-box-shadow: 0 4px 10px #046bfc;
  -moz-box-shadow: 0 4px 10px #046bfc;
  box-shadow: 0 4px 10px #046bfc; }
  .challenge-6 > * {
    text-transform: uppercase; }
  .challenge-6 .icon {
    margin-right: 5px;
    width: 15px; }
  .challenge-6 .player-0-panel,
  .challenge-6 .player-1-panel {
    flex: 50%;
    background-color: rgba(120, 194, 254, 0.2); }
    .challenge-6 .player-0-panel .player-name,
    .challenge-6 .player-1-panel .player-name {
      font-size: 40px;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 100;
      margin-top: 20px;
      margin-bottom: 10px;
      position: relative; }
    .challenge-6 .player-0-panel .player-score,
    .challenge-6 .player-1-panel .player-score {
      text-align: center;
      font-size: 80px;
      font-weight: 100;
      color: #78c2fe;
      text-shadow: 0 0 5px #333, 0 0 10px #333, 0 0 15px #333, 0 0 20px #78c2fe, 0 0 30px #78c2fe, 0 0 40px #78c2fe, 0 0 55px #78c2fe, 0 0 75px #78c2fe;
      margin-bottom: 130px; }
    .challenge-6 .player-0-panel .player-current-box,
    .challenge-6 .player-1-panel .player-current-box {
      background-color: #fcd4e4;
      color: #000;
      width: 40%;
      margin: 0 auto;
      padding: 12px;
      font-size: 2rem;
      text-align: center;
      -webkit-box-shadow: inset 0 1px 20px #78c2fe;
      -moz-box-shadow: inset 0 1px 20px #78c2fe;
      box-shadow: inset 0 1px 20px #78c2fe; }
    .challenge-6 .player-0-panel .player-current-label,
    .challenge-6 .player-1-panel .player-current-label {
      margin-bottom: 10px;
      font-size: 20px;
      color: #222; }
      @media screen and (max-width: 800px) {
        .challenge-6 .player-0-panel .player-current-label,
        .challenge-6 .player-1-panel .player-current-label {
          font-size: 10px; } }
  .challenge-6 .active {
    background-color: rgba(120, 194, 254, 0.6); }
    .challenge-6 .active .player-name {
      font-weight: 700; }
      .challenge-6 .active .player-name::after {
        content: "\2022";
        font-size: 47px;
        position: absolute;
        color: #ff1500;
        top: -7px; }
    .challenge-6 .active .player-score {
      text-shadow: 0 0 5px #ff1500, 0 0 10px #ff1500, 0 0 15px #ff1500, 0 0 20px #78c2fe, 0 0 30px #78c2fe, 0 0 40px #78c2fe, 0 0 55px #78c2fe, 0 0 75px #78c2fe; }
  .challenge-6 button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    transition: all 0.3s; }
    .challenge-6 button:hover, .challenge-6 button:active {
      transform: translate(-50%, 2px); }
    .challenge-6 button:focus {
      outline: none; }
    @media screen and (max-width: 800px) {
      .challenge-6 button {
        font-size: 12px; } }
  .challenge-6 .btn-new {
    top: 85px; }
  .challenge-6 .btn-roll {
    top: 380px; }
  .challenge-6 .btn-hold {
    top: 420px; }
  .challenge-6 .dice {
    position: absolute;
    left: 50%;
    top: 208px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.36); }

.challenge-8 body {
  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400; }

.challenge-8 .red {
  color: #ff5049 !important; }
  .challenge-8 .red-focus:focus {
    border: 1px solid #ff5049 !important; }

.challenge-8 .top {
  min-height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  position: relative; }

.challenge-8 .budget {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  flex-direction: column; }
  .challenge-8 .budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300; }
  .challenge-8 .budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px; }
  .challenge-8 .budget__income {
    margin-bottom: 10px;
    background-color: #28b9b5; }
  .challenge-8 .budget__expenses {
    background-color: #ff5049; }
    .challenge-8 .budget__expenses--percentage {
      background-color: rgba(255, 255, 255, 0.2);
      text-align: center;
      border-radius: 3px; }
  .challenge-8 .budget__income, .challenge-8 .budget__expenses {
    padding: 12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .challenge-8 .budget__income--text, .challenge-8 .budget__expenses--text {
      float: left;
      font-size: 13px;
      color: #444;
      margin-top: 2px; }
    .challenge-8 .budget__income--value, .challenge-8 .budget__expenses--value {
      letter-spacing: 1px;
      float: left; }
    .challenge-8 .budget__income--percentage, .challenge-8 .budget__expenses--percentage {
      float: left;
      width: 34px;
      font-size: 11px;
      padding: 3px 0;
      margin-left: 10px; }

.challenge-8 .add {
  padding: 14px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f7f7f7; }
  .challenge-8 .add__container {
    margin: 0 auto;
    text-align: center; }
  .challenge-8 .add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s; }
  .challenge-8 .add__description, .challenge-8 .add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s; }
  .challenge-8 .add__description {
    width: 400px; }
  .challenge-8 .add__value {
    width: 100px; }
  .challenge-8 .add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28b9b5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px; }
    .challenge-8 .add__btn:active {
      transform: translateY(2px); }
  .challenge-8 .add__type:focus, .challenge-8 .add__description:focus, .challenge-8 .add__value:focus {
    outline: none;
    border: 1px solid #28b9b5; }
  .challenge-8 .add__btn:focus {
    outline: none; }

.challenge-8 .container {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 60px auto;
  text-align: center; }
  @media screen and (max-width: 1000px) {
    .challenge-8 .container {
      width: 100%;
      flex-direction: column; }
      .challenge-8 .container .expenses,
      .challenge-8 .container .income {
        width: 100%; } }

.challenge-8 .income {
  width: 475px;
  margin-right: 50px; }
  .challenge-8 .income__title {
    color: #28b9b5; }
  .challenge-8 .income .item__value,
  .challenge-8 .income .item__delete--btn {
    color: #28b9b5; }

.challenge-8 .expenses {
  width: 475px; }
  .challenge-8 .expenses__title {
    color: #ff5049; }
  .challenge-8 .expenses .item__value,
  .challenge-8 .expenses .item__percentage,
  .challenge-8 .expenses .item__delete--btn {
    color: #ff5049; }

.challenge-8 h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px; }

.challenge-8 .item {
  padding: 13px;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between; }
  .challenge-8 .item .right {
    display: flex; }
  .challenge-8 .item:first-child {
    border-top: 1px solid #e7e7e7; }
  .challenge-8 .item:nth-child(even) {
    background-color: #f7f7f7; }
  .challenge-8 .item__value {
    transition: transform 0.3s; }
  .challenge-8 .item__percentage {
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #ffdad9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center; }
  .challenge-8 .item__delete {
    display: none; }
    .challenge-8 .item__delete--btn {
      font-size: 22px;
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 5px;
      vertical-align: middle;
      line-height: 1; }
      .challenge-8 .item__delete--btn:focus {
        outline: none; }
      .challenge-8 .item__delete--btn:active {
        transform: translateY(2px); }
  .challenge-8 .item:hover .item__delete {
    display: flex; }

.challenge-8 .unpaid {
  background-color: #ffdad9 !important;
  cursor: pointer;
  color: #ff5049; }
  .challenge-8 .unpaid .item__percentage {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
  .challenge-8 .unpaid:hover .item__description {
    font-weight: 900; }
