.challenge-6 {
  display: flex;
  position: relative;

  .player-0-panel,
  .player-1-panel {
    flex: 50%;
    background-color: rgba($color-primary-light, .2);
    text-transform: uppercase;

    .player-name {
      font-size: 40px;
      text-align: center;

      letter-spacing: 2px;
      font-weight: 100;
      margin-top: 20px;
      margin-bottom: 10px;
      position: relative;
    }

    .player-score {
      text-align: center;
      font-size: 80px;
      font-weight: 100;
      color: #eb4d4d;
      margin-bottom: 130px;
    }

    .player-current-box {
      background-color: #eb4d4d;
      color: #fff;
      width: 40%;
      margin: 0 auto;
      padding: 12px;
      text-align: center;
    }

    .player-current-label {
      margin-bottom: 10px;
      font-size: 12px;
      color: #222;
    }
  }

  .active {
    background-color: rgba($color-primary-light, .6);

    .player-name {
      &::after {
        content: "\2022";
        font-size: 47px;
        position: absolute;
        color: #eb4d4d;
        top: -7px;
      }
    }
  }

  button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-green;
    background: none;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
  }

  .btn-new {
    top: 85px;
  }

  .btn-roll {
    top: 380px;
  }

  .btn-hold {
    top: 420px;
  }

  .dice {
    position: absolute;
    left: 50%;
    top: 208px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  }
}
