body {
  background-image: linear-gradient(to bottom, #78c2fe, #379af2, #0071e1, #0046c9, #0108a9);
  min-height: 100vh;

  .main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;

    @media screen and (max-width: 800px) {
      width: 100%;
      padding: 0;
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-height: 100vh;
      overflow-y: auto;
      box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.26);
      padding: 2rem;
    }

    &__item {
      display: flex;
      box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.56);
      transition: all 0.3s linear;
      @include setBgrColor;

      &:hover {
        box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.76);
        transform: translateY(5px) scale(1.1);
        background-color: $color-primary;
      }
    }

    &__link {
      &:link,
      &:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-black;
        padding: 1rem;
        font-size: 2.5rem;
        background-color: rgba($color-secondary, 0.8);
        font-weight: 400;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: transparent;
          color: rgba($color-secondary, 0.8);
          letter-spacing: 0.1rem;
          font-weight: 900;
          border: 1px solid $color-black;
        }
      }
    }
  }

  pre {
    background-color: rgba(white, 0.5);
    margin: 2rem auto;
    overflow: auto;

    @media screen and (max-width: 600px) {
      font-size: 10px;
    }
  }
}

.qoute_containter {
  background-color: rgba(#333, 0.2);
  padding: 2rem;
  min-height: 230px;
  overflow-y: auto;

  h2 {
    color: $color-secondary;
  }

  p {
    color: $color-green;
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 1px 1px #333, 3px 3px 5px $color-green;
  }
}
