body {
  background-image: linear-gradient(to bottom, #78c2fe, #379af2, #0071e1, #0046c9, #0108a9);

  .main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100vh;

    @media screen and (max-width: 800px) {
      width: 100%;
      padding: 0;
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__item {
      display: flex;
      margin: 1rem auto;

      &:last-child {
        margin-bottom: 6rem;
      }
    }

    &__link {
      &:link,
      &:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary;
        padding: 1rem;
        font-size: 2.5rem;
        background-color: rgba($color-secondary, 0.8);
        font-weight: 700;
        transition: all 0.3s linear;
        min-width: 400px;

        @media screen and (max-width: 800px) {
          min-width: 100px;
        }

        &:hover {
          background-color: transparent;
          color: rgba($color-secondary, 0.8);
          transform: translateY(5px);
        }
      }
    }
  }

  pre {
    background-color: rgba(white, 0.5);
    margin: 2rem auto;
    overflow: auto;
  }
}

.qoute_containter {
  background-color: rgba(#333, 0.2);
  padding: 2rem;

  h2 {
    color: $color-secondary;
  }

  p {
    color: $color-green;
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 1px 1px #333, 3px 3px 5px $color-green;
  }
}
