body {
  background-image: linear-gradient(to bottom, #78c2fe, #379af2, #0071e1, #0046c9, #0108a9);
  min-height: 100vh;

  .main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;

    @media screen and (max-width: 800px) {
      width: 100%;
      padding: 0;
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__item {
      display: flex;
      margin: 1rem auto;
      box-shadow: -1px 1px 13px 5px rgba(0, 0, 0, 0.76);
      transition: all 0.3s linear;

      &:hover {
        transform: translateY(5px);
      }
    }

    &__link {
      &:link,
      &:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary;
        padding: 1rem;
        font-size: 2.5rem;
        background-color: rgba($color-secondary, 0.8);
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        min-width: 400px;

        @media screen and (max-width: 800px) {
          min-width: 100px;
        }

        &:hover {
          background-color: transparent;
          color: rgba($color-secondary, 0.8);
          letter-spacing: 0.4rem;
        }
      }
    }
  }

  pre {
    background-color: rgba(white, 0.5);
    margin: 2rem auto;
    overflow: auto;

    @media screen and (max-width: 600px) {
      font-size: 10px;
    }
  }
}

.qoute_containter {
  background-color: rgba(#333, 0.2);
  padding: 2rem;
  min-height: 230px;
  overflow-y: auto;

  h2 {
    color: $color-secondary;
  }

  p {
    color: $color-green;
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 1px 1px #333, 3px 3px 5px $color-green;
  }
}
